* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0px 24px;
}

.yt {
    display: flex;
    justify-content: space-between;
    width: 146px;
}

form {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(204, 204, 204, 1);
    width: 404px;
    height: 40px;
    border-radius: 50px;
}

.barra {
    width: 348px;
    height: 38px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    padding: 10px;
    font-size: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    border: none;
    border-left: 1px solid rgba(204, 204, 204, 1);
    background-color: rgba(248, 248, 248, 1);
    border-radius: 0px 50px 50px 0px;
    padding: 3px;
}

#icon-pesquisa img {
    width: 24px;
    height: 24px;
}

.usuario {
    display: flex;
    align-items: center;
    display: flex;
    width: 130px;
    gap: 24px;
}

.usuario .img {
    width: 24px;
    height: 24px;
}

#perfil {
    width: 44px;
    height: 34px;
    border-radius: 50%;
}

main {
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 25px;
    height: 100%;
    background-color: rgba(248, 248, 248, 1);
    padding: 25px 95px 0px 95px;
}

.video {
    display: flex; 
    flex-direction: column;
    gap: 16px;
}

.video h2 {
    font-size: 20px;
}

.video p {
    text-align: left;
    width: 625px;
    height: 34px;
    font-size: 17px;
}

.interacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#buttom {
    display: flex;
    background-color: rgba(204, 0, 0, 1);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 159px;
    height: 40px;
    color: #ffffffff;
}

iframe {
    width: 100%;
    height: 659px;
    border: none;
    border-radius: 15px;
}

.sugestao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94%;
}